<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="mainRow1">

      <div>
        <img src="../../assets/LuckyTrip_Logo_Small.png">
      </div>

      <div>
        <ion-label>Search LuckyTrip</ion-label>
      </div>

      <div>
        <p>350 destinations, 1500 blog posts, Unlimited Trips</p>
      </div>

      <ion-searchbar placeholder="Enter a Destination..." #countrySearchBar
        (ionChange)="searchForCountry($event.target.value)">
      </ion-searchbar>

      <div>
        <ion-button (click)="goSearch()">Go</ion-button>
      </div>

    </ion-row>

    <ion-row class="mainRow2">
      <span>
        <ion-label>Trending</ion-label>
      </span>

      <section class="section1">
        <button></button>
        <button></button>
        <button></button>
      </section>

      <section class="section2">
        <button></button>
        <button></button>
        <button></button>
      </section>
    </ion-row>

  </ion-grid>

</ion-content>